@use '../utils/variables' as v;

.logo-fleche {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: v.$white-color;
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);

    & i {

    }
  
    & h1 {
        margin: 0 auto;
    }
  }