
//Importation des fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');

//déclarations police d'écriture
//style police disponible : Thin 100, Light 300, Regular 400, Medium 500, Bold 700
$text-font: 'Roboto', sans-serif;
$headline-font: 'Shrikhand', cursive;
$Thin:100;
$Light:300;
$Regular:400;
$Medium:500;
$Bold:700;


body {
    font-family: $text-font;
}

h1 h2 {
    font-family: $headline-font;
}

h2 {
    font-weight: $Bold;
}