@use '../utils/variables' as v;
@use '../base/typography' as t;


//spécification des éléments et font==============================================================================
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: t.$text-font;
    background-color: v.$grey-color;
}

h1 h2 {
    font-family: t.$headline-font;
}