@use '../utils/variables' as v;
@use '../base/typography' as t;

@mixin text-reduction {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
@mixin plat {
    display: flex;
    cursor: pointer;
    background-color: v.$white-color;
    box-shadow: v.$box-shadow;
    border-radius: 20px 20px;
    padding: 1rem;

    &__header{
        flex-grow: 2;
        @include text-reduction;

        & h4,p {
          @include text-reduction;
        }
      }
    
    &__prix {
      display: flex;
      align-items: flex-end;
      font-weight: 700;
      padding-left: 0.5rem;
      }

      &__check {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        background-color:  v.$tertiary-color;
        border-radius: 0 20px 20px 0;
        margin: -1em -1rem -1rem 1rem;
        transition: margin 700ms;

      &__i{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.6rem;
        width: 1.6rem;
        color: v.$tertiary-color;
        background-color: v.$white-color;
        border-radius: 100%;    
        }
      }
    }