//colors=====================================================
$body-color:#f6f6f6;
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$grey-color:#f6f6f6;
$grey-color2:#353535;
$grey-color3:#f3f3f3;
$grey-color4:#fafafa;
$box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
$white-color:#fff;