//déclarations des varibles couleurs
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

//déclarations police d'écriture
//style police disponible : Thin 100, Light 300, Regular 400, Medium 500, Bold 700
$regular-font: 'Roboto', sans-serif;
$logo-title-font: 'Shrikhand', cursive;