//colors=====================================================
$body-color:#f6f6f6;
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$grey-color:#f6f6f6;
$box-shadow:0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
$white-color:#fff;