@use './utils/variables' as v;
@use './base/base.scss';
@use './base/typography' as t;
@use './utils/mixins' as m;


.card {
    @include m.plat;
}

.text-reduction {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
}


