@use '../utils/variables' as v;

//animation des sous menus=====================
@keyframes sous-menu--appartion{
    from {
        transform: translateY(2rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

//animation loader===============================
@keyframes loader {
    0% {
        letter-spacing:1em;
        filter:blur(12px);
        opacity:0;
    }
    100% {
        filter:blur(0);
        opacity:1;
    }
}
//animation loader couleur lettre=================
@keyframes anim-titre {
    0% {
        color: v.$pink-color;
        text-shadow: 0 0 7px v.$pink-color;
    }
    90% {
        color: v.$grey-color2;
        text-shadow: none;

    }
    100% {
        color: v.$pink-color;
        text-shadow: 0 0 7px v.$pink-color;
    }
}

//disparition du loader==========================
@keyframes disparition-loader {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}