@use '../utils/variables' as v;

//parametre des cartes des resturant==================
.BoxActiviteCardPart{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.une{
    margin-right: 20px;
}

.BoxActivite h3{
    font-size: 25px;
}
 /* parametrage du bloc Card du bloc activité */
 .BoxActiviteCard{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 30px;
    justify-content: space-between;
 }