@use '../utils/variables' as v;
@use '../base/typography' as t;

//parametre des cartes des resturant==================
.accueil__restaurant{
    display: flex;
    flex-direction: column;
    padding: 1rem;

    & h2 {
        padding: 3rem 0 2rem 0;
        font-family: t.$text-font;

    }

&__card {
    width: 100%;    
    overflow: hidden;
    background-color: aqua;
    border-radius: 20px;
    background-color: v.$white-color;
    margin-bottom: 1.5rem;
    box-shadow: v.$box-shadow2;

& img {
    height: 13rem;
    width: 100%;
    border: 0px transparent solid;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

&__texte {
    background-color: v.$white-color;
    padding: 1rem;
    border-radius: 0 0 20px 20px;
}

}
}