@use '../utils/variables' as v;
@use '../base/typography';

.accueil__localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;

& i {
    padding-right: 2rem;
    }
}