@use '../utils/variables' as v;
@use '../base/typography' as t;

//reglage pour box shadow dans header==============================================
header {
    position: relative;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

//mise en page du haut de l'accueil================================================
.accueil {

    & h2 {
        font-family: t.$text-font;
    }

    &__localisation {
        background-color: v.$grey-color3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 0;

        & i {
            padding-right: 1.5rem;
        }

        & h3 {
            font-size: 1rem;
        }
    }

    &__reservation {
        background-color: v.$grey-color4;
        text-align: center;
        padding: 2rem;


        & p {
            padding-top: 1.5rem;
            font-weight: t.$Regular;
        }
    }

    &__fonctionnement {
        background-color: v.$white-color;
        padding: 1rem;

    & h2 {
        padding-top: 2rem;
        margin-bottom: 2rem;
    }
    }

}

//parametre de bouton dans _buttons.scss================================
//modification uniquement du margin=====================================
.pink__button {
    margin: 2rem 0 2rem 0;
}