@use '../components/animations';
@use '../utils/variables' as v;
@use '../base/typography' as t;

.loader {
    background-color: v.$white-color;
    position: fixed;
    inset: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: disparition-loader;
    animation-duration: 0.5s;
    animation-delay: 3s;
    animation-fill-mode: both;

    &__titre {
        display: flex;
        font-size: 3rem;
        font-family: t.$headline-font;
        color: v.$grey-color2;
        animation: loader 0.7s ease 0s 1 normal none;

        &__lettre {
            animation: anim-titre 1.2s linear infinite;
            padding-bottom: 2rem;
        }
    }
        &__objet {
            display: flex;
            width: 50%;
            justify-content: space-evenly;
        }
    
}
svg {
    height: 30px;
    width: 30px;
}
@for $i from 1 to 10 {
    .loader__titre__lettre:nth-child(#{$i}) {
        animation-delay: $i * 0.1s;
    }
}