@use '../utils/variables' as v;
@use '../components/animations';
@use '../utils/extensions';
@use '../base/typography' as t;



//parametrage haut de page menu============
.page-menu {
    background-color: v.$grey-color;
    border-radius: 40px 40px 0 0;
    margin-top: -4rem;
&__photo {
    position: relative;
    width: 100%;
    max-width: 100%;
    max-height: 656px;
    object-fit: cover;
    margin: 0;
    z-index: -1;
    }
}

//nom specialité (ex : a la francaise)=====
.specialite {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem 2rem 1rem;
}

//menu (entrées, plats et desserts)========
.menu {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 1.25rem 1rem;

    & h3 {
        font-weight: t.$Light;
        margin: 1.5rem 0 1rem 0.2rem;
//petite barre verte sous le titre
    &::after {
        content: "";
        display: block;
        width: 50px;
        padding-top: 3px;
        border-bottom: 3px solid #99e2d0;
    }

    }
}

//sous-menu===============================
// parametrage des cards avec animations==
.sous-menu {
    display: flex;
    cursor: pointer;
    background-color: v.$white-color;
    box-shadow: v.$box-shadow;
    border-radius: 12px;
    padding: 1rem;
    margin: 0.5rem 0;
    overflow: hidden;
//animation apparition des sous menus
//reglage des animations dans animations.scss
    animation-name: sous-menu--appartion;
    animation-duration: 600ms;
    animation-timing-function:ease-in-out;

    &__header {
        flex-grow: 2;
        @extend .text-reduction;

        & h4,
        p {
        @extend .text-reduction;
        }
    }

    &__prix {
        display: flex;
        align-items: flex-end;
        font-weight: 700;
        transition: 0.5s;
    }

    &__check {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        background-color: v.$green-color;
        border-radius: 0 12px 12px 0;
        //transition vers état normal
        margin: -1rem -5rem -1rem 1rem;
        transition: 0.5s;
    }

    &:hover &__check {
        //transition vers état hover de du check
        margin-right: -1rem;
    }

    &:hover &__check__i {
        //transition vers état hover de i
        transform: rotateZ(0deg);
    }

    &__check__i {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.6rem;
        width: 1.6rem;
        color: v.$green-color;
        background-color: v.$white-color;
        border-radius: 100%;
        transform: rotateZ(180deg);
        transition: 0.5s;
    }
}

//parametre de bouton dans _buttons.scss
//modification uniquement du margin
.pink__button {
    margin: 3rem 0 7rem 0;
}